.page-header {
	text-align: center;
}

.time-clock {
	text-align: center;
}

#stop-clock {
	font-size: 50px;
}

.questions {
	display: none;
	text-align: center;
}

#start {
	text-align: center;
	font-size: 50px;
}	















